.job-entry {
    display: block;
    padding: 18px;
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 0 1px 2px 0 rgba(60,66,87,.1), 0 0 3px 0 rgba(0,0,0,.07);
    box-shadow: 0 1px 2px 0 rgba(60,66,87,.1), 0 0 3px 0 rgba(0,0,0,.07);
    background: rgb(255, 255, 255);
    margin-bottom: 5px;

    .mask{
        position: absolute;
        width:100%;
        height:100%;
        left:0;
        top:0;
        background: rgba(255,255,255,.8);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        color:rgb(0, 115, 177);
        font-weight: 500;
    }

    .wrapper {
        position: relative;
        display: flex;

        .company-icon {
            width: 60px;
            height: 100%;
            margin-right: 15px;
            flex-shrink: 0;

            .icon-wrapper {
                display: block;

                img {
                    width: 100%;
                    max-width: 100%;
                }

            }

        }

        .job-info {
            flex: 1;


            .location-icon {
                fill: black;
                width: 30px;
                height: 30px;
            }

            .job-meta-title {
                color: rgb(0, 115, 177);
                font-size: 16px;
                font-weight: 600;
                cursor: pointer;
                margin-right: 5px;
                display: inline-block;

                &:hover {
                    text-decoration: underline;
                    color: rgb(0, 96, 151);
                }
            }

            .job-new-tag {
                display: inline-block;
                padding: 3px 10px;
                font-size: 11px;
                background: rgb(230, 234, 237);
                border-radius: 2px;
                font-weight: 500;
                vertical-align: text-bottom;

            }

            .job-meta-company {
                font-size: 15px;
                color: rgb(0, 0, 0);
                font-weight: 600;
                display: block;
                margin-bottom: 3px;
            }

            .job-meta-description {
                font-size: 14px;
                width: 100%;
                word-break: break-word;
                display: block;
                margin: 6px 0;
                color: black;
            }

            .job-meta-location {
                margin-top: 5px;
                display: flex;
                align-items: center;

                svg {
                    width: 20px;
                    height: 20px;
                    margin-right: 6px;
                    background: rgb(239, 237, 237);
                    padding: 3px;
                    border-radius: 50%;

                    path {
                        fill: rgba(0, 0, 0, 0.6);
                    }

                }

                span {
                    flex: 1;
                    overflow: hidden;
                    white-space: nowrap;
                    max-width: 300px;
                    text-overflow: ellipsis;
                    font-size: 13px;
                    line-height: 1.33333;
                    font-weight: 400;
                    color: rgba(0,0,0,.6);
                
                }
            }

            .job-meta-date-relative {
                font-size: 14px;
                font-weight: 100;
                margin-top: 9px;
            }

            .job-meta-closed-date {
                font-weight: 600;
                font-size: 13px;

            }

        }

    }


    &:hover {

        background: #E5F5FC;

        .wrapper {
            .job-info {
                .job-meta-location {
                    svg {
                        background: rgb(61, 97, 135);
                        path {
                            fill:white;
                        }
                    }

                }
            }
        }
    }
}