

.job-vacancy-load-err-msg{
    width: 100%;
    font-size: 14px;
    color: rgb(0, 115, 177);
    font-weight: 500;
    display: block;
    text-align: center;
}
.job-vacancy-webpart {
    display: block;
    //padding: 18px 0; 
    //box-shadow: 0 7px 14px 0 rgba(60,66,87,.1), 0 3px 6px 0 rgba(0,0,0,.07); 
    position: relative;

    &.with-box-shadow{
        box-shadow: 0 7px 14px 0 rgba(60,66,87, 0.1), 0 3px 6px 0 rgba(0, 0, 0, .07);
    }
    .webpart-nav-btn {
        font-weight: 500;
        font-size: 14px;
        position: absolute;
        right: 2px;
        display: inline-block;
        top: 0;
        padding: 5px 17px;
        background: rgb(61, 97, 135);
        color: rgb(255, 255, 255);
        text-decoration: none;

        &:hover{
            background:#004B75;
        }
    }

    .job-vacancy-heading {
        font-weight: 100;
        margin: 5px 0 9px 0;
        font-size: 24px;
        font-family: Segoe UI,"Segoe UI Web (West European)",-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif!important; 

    }
}


img{
    max-width: 100%;
}