.job-vacancy-main {
    position: relative;

    .job-vacancy-bg {
        min-height: 149px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        display: block;
        width: 100%;
        overflow: hidden;
        background: rgb(61, 97, 135);

        .bg-img{
            width:100%;
            height:100%;
            max-width: 100%;
        }

    }

}

.job-vacancy-list-wrapper {
    display: block;
  

    &.bg--active{
        padding: 44px 30px 25px;
    }
    .job-vacancy-list-container {}

}