
.content-loader {
    position: relative;
    background: rgba(255, 255, 255, 0.81);
    width: 100%;
    padding: 50px 0;
    text-align: center;
    .loader-icon{
        display: block;
        width: 100%;
        text-align: center;
        max-width: 130px;
        margin: 0 auto;
        margin-bottom: 13px;
        img{

        }
     
    }

    .loader-text{
        font-size: 15px;
        color: rgb(61, 97, 135);
        margin-bottom: 10px;
        display: block;
        font-weight: 500;
    }

    .loading-spinner {
        display: inline-flex;
        -webkit-box-pack: distribute;
        -moz-box-pack: distribute;
        box-pack: distribute;
        -webkit-justify-content: space-around;
        -moz-justify-content: space-around;
        -ms-justify-content: space-around;
        -o-justify-content: space-around;
        justify-content: space-around;
        -ms-flex-pack: distribute;
        position: relative;
        vertical-align: middle;
        width: 30px;
        height: 6px;
        text-align: center;
        opacity: .5;
        width: 38px;
        .dots {
            width: 100%;
            display: flex;
            -webkit-box-pack: distribute;
            -moz-box-pack: distribute;
            box-pack: distribute;
            -webkit-justify-content: space-around;
            -moz-justify-content: space-around;
            -ms-justify-content: space-around;
            -o-justify-content: space-around;
            justify-content: space-around;
            -ms-flex-pack: distribute;

            .spinner__dot {
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: #0073B1;
                -webkit-animation: pulse .85s infinite ease-in-out;

                &.spinner__dot--one {
                    -webkit-animation-delay: -.2s;
                    animation-delay: -.2s;
                }

                &.spinner__dot--tw {
                    -webkit-animation-delay: -.1s;
                    animation-delay: -.1s;
                }

                &.spinner__dot--three {
                }
            }
        }
    }
}

@keyframes pulse {

    0%, 100% {
        opacity: .2;
    }
    50% {
        opacity: 1;
    }
}
